<div id="bra">
  <div class="container pt-5 pb-5">
    <form action="/bra" method="post">
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      <div class = linksbuendig>
        <h4>Hier kannst du ein neues Bh-Model anlegen, welches den Kunden als Auswahl dient:</h4>

        <hr class="mt-4 mb-4" />
        
        <div class="form-group">
          <input class="form-control" id="bh-marke" name="marke" type="text" placeholder="BH-Markenname"
            autocomplete="name" maxlength="120" focus-first>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="bh-model" name="model" placeholder="BH-Model"
            autocomplete="name" maxlength="120" focus-first>
        </div>

        <div class="form-group">
            <select class = "form-control" name="form" id="form">
              <option value="" disabled selected>BH-Form</option>
              <option value="Push-Up">Push-Up</option>
              <option value="T-Shirt">T-Shirt</option>
              <option value="Bralette">Bralette</option>
              <option value="Balconette">Balconette</option>
              <option value="Bustier">Bustier</option>
              <option value="Trägerloser">Trägerloser BH</option>
              <option value="Sport-BH">Sport-BH</option>
              <option value="Plunge">Plunge Neckline</option>
            </select>
          </div>
 
        <div class="form-group">
            <input class="form-control" id="bh-groesse" name="groesse" type="text" placeholder="BH-Größe" autocomplete="name" focus-first>
          </div>
        
          <div class="form-group">
            <select class = "form-control" name="stoff" id="stoff">
              <option value="" disabled selected>Stoff</option>
              <option value="Baumwolle">Baumwolle</option>
              <option value="mit Spitze">mit Spitze</option>
              <option value="stretchy Stoffe">stretchy Stoffe</option>
            </select>
          </div>

          <div class="form-group">
            <select class = "form-control" name="farbe" id="farbe">
              <option value="" disabled selected>Farbe</option>
              <option value="rosa">rosa</option>
              <option value="rot">rot</option>
              <option value="schwarz">schwarz</option>
              <option value="weiß">weiß</option>
              <option value="grau">grau und dunkelblau</option>
              <option value="blau">blau</option>
              <option value="grün">grün</option>
              <option value="braun">braun</option>
              <option value="lila">lila</option>
              
            
            </select>
          </div>

          <div class="form-group">
              <select class = "form-control" name="muster" id="muster">
                <option value="" disabled selected>Muster</option>
                <option value="gemustert">gemustert</option>
                <option value="einfarbig/ohne">einfarbig/ohne</option>
              </select>
          </div>

          <!-- <div class="form-group">
            <input class="form-control" id="bh-bewertung" name="sternebewertung" type="text" placeholder="BH-Bewertung" autocomplete="name" focus-first>
          </div> -->

          <div class="form-group">
            <input class="form-control" id="bh-link" name="shoppingLink" type="text" placeholder="Shopping-Link" autocomplete="name" focus-first>
          </div>

          <div class="form-group">
            <input class="form-control" id="bh-bildpfad" name="bildpfad" type="text" placeholder="Bildpfad" autocomplete="name" focus-first>
          </div>

          <button type="submit" class="btn btn-primary btn_color">Hinzufügen</button>

      </div>

  </div>

  </form>
</div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>