<div id="bra">
  <h4>Hier kannst du ein neues Bh-Model anlegen, welches den Kunden als Auswahl dient:</h4>
  <div class="container pt-5 pb-5">
    <form action="/bra" method="post">
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      <div class = linksbuendig>
        <hr class="mt-4 mb-4" />
        <div class="form-group">
          <input type="text" class="form-control" id="bh-model" name="model" placeholder="BH-Model"
            autocomplete="name" maxlength="120" focus-first>
        </div>


        <div class="form-group">
          <input class="form-control" id="bh-marke" name="marke" type="text" placeholder="BH-Markenname"
            autocomplete="name" maxlength="120" focus-first>
        </div>

              
        <div class="form-group">
            <select class = "form-control" name="form" id="form">
              <option value="" disabled selected>BH-Form</option>
              <option value="rot">Push-Up</option>
              <option value="schwarz">T-Shirt</option>
              <option value="weiss">Bralette</option>
              <option value="bunt">Neckholder</option>
              <option value="bunt">Balconette</option>
            </select>
          </div>
 
        <div class="form-group">
            <input class="form-control" id="bh-groesse" name="groesse" type="text" placeholder="BH-Größe" autocomplete="name" focus-first>
          </div>
        
          <div class="form-group">
            <select class = "form-control" name="stil" id="stil">
              <option value="" disabled selected>Stil</option>
              <option value="verspielt">verspielt</option>
              <option value="schlicht">schlicht</option>
              <option value="sportlich">sportlich</option>
              <option value="sexy">sexy</option>
            </select>
          </div>

          <div class="form-group">
            <select class = "form-control" name="farbe" id="farbe">
              <option value="" disabled selected>Farbe</option>
              <option value="rot">Rot</option>
              <option value="schwarz">Schwarz</option>
              <option value="weiss">Weiß</option>
              <option value="bunt">Bunt</option>
            </select>
          </div>

          <div class="form-group">
              <select class = "form-control" name="muster" id="muster">
                <option value="" disabled selected>Muster</option>
                <option value="spitze">Spitze</option>
                <option value="gepunktet">gepunktet</option>
                <option value="keins">kein Muster</option>
                <option value="gestreift">gestreift</option>
              </select>
          </div>

          <div class="form-group">
            <input class="form-control" id="bh-bewertung" name="sternebewertung" type="text" placeholder="BH-Bewertung" autocomplete="name" focus-first>
          </div>

          <div class="form-group">
            <input class="form-control" id="bh-link" name="shoppingLink" type="text" placeholder="Shopping-Link" autocomplete="name" focus-first>
          </div>

          <button type="submit" class="btn btn-primary btn_color">Hinzufügen</button>

      </div>

  </div>

  </form>
</div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>