<div id="search">
    <div class="container pt-5 pb-5 mt-2">
        <div class="pb-2">
            <h3>Übersicht der BH Einträge in der Datenbank</h3>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <select v-on:change="search" v-model="filterNach" id="filter-nach" name="filter-nach"
                    class="custom-select">
                    <option value="farbe">Farbe</option>
                    <option value="muster">Muster</option>
                    <option value="stoff">Stoff</option>
                    <option value="marke">Marke</option>
                    <option value="model">Modell</option>
                    <option value="groesse">Größe</option>
                    <option value="form">Form</option>
                </select>
            </div>
            <input v-on:keyup="search" type="text" v-model="searchTerm" class="form-control"
                placeholder="Hier Suchbegriff eingeben">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" v-on:click="search">Suchen</button>
            </div>
        </div>
    </div>

    <!-- array stuff
    https://vuejs.org/v2/guide/list.html -->

    <!-- https://www.raymondcamden.com/2018/03/01/an-example-of-ajax-searching-with-vuejs -->
    <table class="table table-responsive w-100">
        <thead>
            <tr>
                <!-- <th scope="col">Bild</th> -->
                <th scope="col">Marke</th>
                <th scope="col">Modell</th>
                <th scope="col">Form</th>
                <th scope="col">Größe</th>
                <th scope="col">Stoff</th>
                <th scope="col">Farbe</th>
                <th scope="col">Muster</th>
                <th scope="col">Shopping Link</th>
                <th scope="col">Bildpfad</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in result" :key="item.id">
                <!-- <td> <img v-bind:src="encodeURI(item.bildpfad)" style="height: 5%;"/></td> -->
                <td>{{ item.marke }}</td>
                <td>{{ item.model }}</td>
                <td>{{ item.form }}</td>
                <td>{{ item.groesse }}</td>
                <td>{{ item.stoff }}</td>
                <td>{{ item.farbe }}</td>
                <td>{{ item.muster }}</td>
                <td>{{ item.shoppingLink }}</td>
                <td>{{ item.bildpfad }}</td>
                <td><button type="button" class="btn btn-outline-danger"
                        v-on:click="deleteBra(item.id)">Löschen</button></td>
            </tr>
        </tbody>
    </table>
</div>