<form name="idk" method="post" action="test3.html">
    <label> Name
        <input>
        
    </input>
    </label>

    <input type="submit" name="FirstName" value="Sende Formular"/>



    
</form>