<form name="neuerUser" method="post" action="neueruser">
    <label> Name
        <input type="text" name="name">
        
    </input>
    </label>

    <label>Nachname
        <input type="text" name="nachname">
    </input>
    </label>

    <input type="submit" name="FirstName" value="Sende Formular"/>



    
</form>