<div id = "impressum">

    <h3 class = "m-4">Impressum Braleira</h3>
   <div class="container linksbuendig">  
    <div class="container">
        <p>
        <b>Anschrift:</b><br>
        Alfred-Wachtel-Straße 8 <br>
        D-78462 Konstanz <br>
        Telefon    +49 7531 000 0  <br>
        E-Mail    kontakt@htwg-konstanz.de 
        </p>
   </div>
   <div class="container">
    <p> <b>Gesamtverantwortung   </b> <br>
    Pauline Rose und Lilian Krieg Carreño <br>
        
        Umsatzsteuer- Identifikationsnummer   <br>
        DE 000000000  <br></p>
    </div>

    <div class="container">
        <p> 
        <b>Urheberrechtshinweis  </b>   <br>
        Da die Texte, Bilder und Grafiken sowie das Layout nicht selbst erstellt wurden, sind sie durch das Urheberrecht geschützt und dürfen damit beispielsweise weder kopiert, noch verändert, noch auf anderen Web-Seiten verwendet werden. Jede Nutzung, die vom Urheberrecht nicht zugelassen ist, bedarf der vorherigen Zustimmung der Pressestelle.
        <br>
        </p>
    </div>
    <div class="container">
       <p><b>Foto-Nachweise:</b> <br>
        Google <br></p>
    </div>
    <div class="container">
        <p>
        <b>Externe Links</b>     <br>
        Braleira ist nach den allgemeinen Gesetzen für die eigenen Inhalte verantwortlich. Bei Querverweisen auf andere Anbieter (externen Links), liegt die Verantwortung bei dem jeweiligen Betreiber / Verfasser (siehe unten: Rechtlicher Hinweis).
        <br></p>
    </div>    
    <div class="container">   
        <p> 
        <b>Rechtlicher Hinweis</b>     <br>
        Für den Inhalt der Seiten, die von dieser Seite aus per Link erreichbar sind, sind die jeweiligen Betreiber / Verfasser selbst verantwortlich und haftbar. Von etwaigen illegalen, persönlichkeitsverletzenden, moralisch-ethisch oder in sonstiger Weise anstößigen Inhalten distanzieren wir uns hiermit ausdrücklich.
        </p>
    </div>
    <div class = "container">
    <p><b>Sonstiges:</b><br>Du hast Fragen oder Probleme und kommst nicht weiter? <br>
        Kein Problem, kontaktiere uns einfach unter folgendem <a href="/kontakt" style="text-decoration:underline; color: #9aaba7">Link</a> 
    </p>
    </div>
</div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>