<div id = "impressum">
    <h3 class = "m-4">Kontaktseite Braleira</h3>
    <div class="container linksbuendig" id="main_c"></div>
</div>

<script>
   window.onload = () => createPage(); 

   function createPage(){

        var main_c = $("#main_c");
            var c_formular = document.createElement("div");
                c_formular.className = ("container");
                main_c.append(c_formular);
        
                var para = document.createElement("p");
                    para.innerHTML = "Bei Fragen kannst du uns gerne kontaktieren! <br>Fülle bitte einfach untenstehendes Formular aus und wir werden uns schnellstmöglich darum bemühen, dein Anliegen zu bearbeiten und zu lösen.</p>";
                    c_formular.appendChild(para);
            
                var eingabe_name = document.createElement("div");
                    eingabe_name.id = 'eingabe';
                    //Andere Möglichkeiten Attribute zu setzen
                    $("#eingabe").addClass("form-group");
                    c_formular.appendChild(eingabe_name);
            
                    var input_n = document.createElement("input");
                        input_n.type = "text";
                        input_n.className = "radius kursiv";
                        input_n.id="name";
                        input_n.name="name";
                        input_n.placeholder = "Dein Name (erforderlich)";
                        input_n.autocomplete="name";
                        input_n.maxlength="200"; 
                        input_n.style = "width: 20em;",
                        eingabe_name.appendChild(input_n);

                var eingabe_email = document.createElement("div");
                    eingabe_email.id = 'eingabe2';
                    //Andere Möglichkeiten Attribute zu setzen
                    $("#eingabe2").addClass("form-group");
                    c_formular.appendChild(eingabe_email);   

                    var input_e = document.createElement("input");
                        input_e.type = "text";
                        input_e.className = "radius kursiv";
                        input_e.id="email";
                        input_e.name="email";
                        input_e.placeholder = "Deine E-Mail (erforderlich)";
                        input_e.autocomplete="email";
                        input_e.maxlength="200"; 
                        input_e.style = "width: 20em; margin-top: .25em;",
                        eingabe_email.appendChild(input_e);

                var eingabe_text = document.createElement("div");
            
                    var label = document.createElement("label");
                        label.for = "text";
                        label.innerHTML = "Deine Nachricht oder dein Anliegen an uns:";
                        eingabe_text.appendChild(label);
                    
                        var umbruch1 = document.createElement("br");
                            eingabe_text.appendChild(umbruch1);

                    var text_area = document.createElement("textarea");
                        text_area.className = "kursiv";
                        text_area.id = "text";
                        text_area.name = "text";
                        text_area.cols = "50";
                        text_area.rows = "8";
                        text_area.placeholder = "Deine Nachricht (erforderlich)";
                        eingabe_text.appendChild(text_area);

                    var btn_send = document.createElement("button");
                        btn_send.className = "btn btn_color";
                        btn_send.style = "border-radius: 5px; margin-bottom : .5em;";
                        btn_send.type = "button";
                        btn_send.innerHTML = "Nachricht senden";

                        var umbruch2 = document.createElement("br");
                            eingabe_text.appendChild(umbruch2);

                        eingabe_text.appendChild(btn_send);

                c_formular.appendChild(eingabe_text);
      
    } 
    </script>

<!-- Vorzeighalber mit jquery $ zwei Beispeile gemacht, aber persönlich einfacher mit den DOM Elementen  -->

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>