:root{
    --clr-text: #31241c;
    --clr-primary:#31241c ;
    --clr-secondary:#669f9a;
    --clr-accent:#cea59b;
    --clr-nav: #9aaba7;
}


html {
    box-sizing: initial;
    font-family: sans-serif;
    color: black;
    font-size: 1.25rem;
    
}

body {
    margin: 0;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 3em 1em;
}


/*typographie*/

h1,
h2,
h3,
p {
    margin: 0;
    
   
}


p {
    margin-bottom: .85em;
}

.text-highlighted {
    color: #31241c;
}

.section-title-small {
    font-size: 2rem;
    color: black;
}

.logo {
    text-align: center;
    font-family: Garamond, serif;
    color: --clr-primary!important;
}

header {
    padding: 1em 0 0;
}

.linksbuendig{
    text-align: left;
}

.max_width{
    width: 100%;
}

.half_width{
    width: 50%;
}

/*navigation */

.menu {
    font-variant: small-caps;
    background-color: var(--clr-nav);
}

.kursiv {
    font-style:italic;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a {
    display: inline-block;
    padding: .5em;
    /*   color: black!important; */
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    color: #669f9a;
    text-decoration: none;
}


/* footer */

footer {
    padding: 1em;
    background-color: var(--clr-nav);
}


footer .footer-nav a {
    color: black;
    text-decoration: none;
} 

footer .footer-nav {
    font-variant: small-caps;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.footer-nav {
    list-style: none;
}



/*responsive navbar for mobile version*/

#menuToggle {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        height: auto;
    }
    .menu ul {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s;
    }
    .menu ul a {
        color: white;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #5a5a5a;
    
    }

    .menu ul a:hover {
        background-color: #9aaba7;
        text-decoration: none;
    }

    .menu-icon {
        width: 60px;
        height: inherit;
        display: block;
        position: absolute;
        top: 1em;
        right: 0;
        line-height: 60px;
    }
    #menuToggle:checked~ul {
        max-height: 350px;
    }
    .menu-icon i {
        font-size: 1.7em;
    }
    h2 {
        font-size: unset;
    }
    footer .footer-nav {
        display: unset;
    }
    .text-body {
        padding: 1.5em 1em !important;
    }
}

@media screen and (max-width: 1366px) {
    .products {
        flex-direction: column !important;
    }
    .product {
        width: unset !important;
    }
    .text-blog {
        padding: 1.5em 10em;
    }

    .social-media {
        padding: unset !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
    .text-body {
        padding: 1.5em 10em !important;
    }

    .text-blog {
        padding: 1.5em 10em !important;
    }
}

/*button */

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 5em;
}

.button {
    padding: .75em 2.5em;
    color: white;
    text-decoration: none;
    display: block;
    margin: 0.5em 0;
    border-radius: .5em;
}

.button-highlighted {
    background: #d8b69c;
}

/* style für den Btn auf Website zum Quiz  */
#start_btn{
    border-radius: 50%!important;
    width:27%;
    margin:auto;
}


/* Btn Style */

.btn_color{
    color: white;
    background-color: var(--clr-secondary);
    border-color: var(--clr-secondary);
}

/*alles für runde Buttons*/
.fancy-checkbox {
    display: none;
}

.fancy-checkbox+label {
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: circle(50% at center);
    height: 100px;
    width: 100px;
    display: inline-block;
    padding: 0 0 0 0px;
}

.fancy-checkbox:checked+label {
    filter: brightness(50%);
}

.fancy-checkbox-rosa+label {
    background-image: url("/images/rosa.jpg");
}
.fancy-checkbox-rot+label {
    background-image: url("/images/rot.jpg");
}
.fancy-checkbox-schwarz+label {
    background-image: url("/images/schwarz.jpeg");
}
.fancy-checkbox-weiss+label {
    background-image: url("/images/weiß.jpg");
}
.fancy-checkbox-grau+label {
    background-image: url("/images/grau.jpg");
}
.fancy-checkbox-neon+label {
    background-image: url("/images/neon.jpg");
}





/*homepage styles*/

.slogan {
    background-image: url(/images/logo_dark.png);
    background-blend-mode: multiply;
    text-align: center;
    color: white;
    padding: 25vh 1em;
    background-attachment: fixed;
    background-size: cover;
}

.quiz {
    background: #cea59b;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0;
}

.radius{
    border-radius: 5px;
}

.quiz-intro {
    background-image: url(Bilder/Maßband.jpg);
    padding: 3em 1em 1.5em;
    background-repeat: no-repeat;
    background-size: 100%;
}

.text-body {
    padding: 1.5em 15em;
}

.text-blog {
    padding: 1.5em;
}

.text-body .buttons {
    margin: 1em 0 0 0;
}

.social-media {
    background: #f0f0f0;
    padding: 0 10em;
    

}

.products {
    display: flex;
    flex-direction: row;
}

.product {
    /*background: #f0f0f0;*/
    width: 33.3%;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    margin: .5em;
    padding: .5em;
    
}

.card_bh{
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    /* margin: .5em;
    padding: .5em; */
}

.product__img {
    height: 236px;
    width: 236px;
}

.howToMeasure_img {
    height: 300px;;
    width: 600px;
}