<div id="bra">
    <div class="container pt-5 pb-5">
      <form action="/size" method="post">
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <h3>Erster Schritt</h3>
        <div>
          <hr class="mt-4 mb-4" />
          Als Erstes sammeln wir ein paar Zahlen und Daten über dich, um dir eine möglichst genaue Empfehlung bereitstellen zu können. Aber keine Angst, nur du kannst deine Daten sehen und kein anderer User. 
          <h4>So kannst du dich richtig vermessen:</h4>
          <p>Bildanleitung:
            Bild Bild Bild
        </p>
          Alles was du benötigst ist ein Maßband und ein wenig Geduld. Und behalt gerne im Hinterkopf, es sind nur Zahlen!
          <p>
            Unterbrustbreite in cm
          </p>
          <p>
            Brustumfang in cm
          </p>
          


         
          
          <button type="submit" class="btn btn-primary">Weiter zu Schritt 2</button>
  
        </div>
  
    </div>
  
    </form>
  </div>
  </div>
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>