<div id="bra">
  <div class="container pt-5 pb-5">
    <form action="/size" method="post">
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      <h4>Erster Schritt</h4>
      <div>
        <hr class="mt-4 mb-4" />
        Als Erstes sammeln wir ein paar Zahlen und Daten über dich, um dir eine möglichst genaue Empfehlung
        bereitstellen zu können. Aber keine Angst, nur du kannst deine Daten sehen und kein anderer User.
        Alles was du benötigst ist ein Maßband und ein wenig Geduld. Und behalt gerne im Hinterkopf, es sind nur Zahlen!
        <p>So kannst du dich richtig vermessen:</p>
        <p>Bildanleitung:</p>
        <div class="d-flex justify-content-center">
          <div>
            <img src="images/Wie-messe-ich-korrekt.jpg" alt="Bildanleitung Messen"/>
          </div>
          <div>
            <p>1. Miss deine Unterbrustweite</p>
            <p>
              Um deine Unterbrustweite zu ermitteln, messe direkt unter deinen Brüsten um deinen Körper herum. Stelle
              mithilfe vom Spiegel sicher, dass das Maßband gerade anliegt und ziehe weder zu straff, noch zu eng. Die
              Unterbrustweite gibt die Größe des Unterbrustbandes deines BHs an und wird als Zentimeterzahl (ca. 60-135
              cm) angegeben.
            </p>
            <p>2. Körbchengröße messen</p>
            <p>
              Um deine Körbchengröße zu ermitteln, messe deinen Körperumfang an der weitesten Stelle deiner Brust. Meist
              liegt diese Stelle auf der Höhe deiner Brustwarzen. Achte darauf, dass du das Maßband nicht zu straff
              ziehst oder zu locker hältst. Auch hier hilft dir ein Spiegel dabei, das Maßband gerade zu halten.
            </p>
          </div>
        </div>
        <p>
          Unterbrustbreite und Brustumfang
        </p>

        <div class="row justify-content-center">
          <div class="form-group">
            <input type="text" class="" id="unterbrustbreite" name="unterbrustbreite"
              placeholder="Unterbrustbreite in cm" autocomplete="name" maxlength="120" focus-first>
          </div>

          <div class="form-group" style="margin-left: 1%;">
            <input class="" id="b_umfang" name="brustumfang" type="text" placeholder="Brustumfang in cm"
              autocomplete="name" maxlength="120" focus-first>
          </div>
        </div>
      </div>


      <button type="submit" class="btn btn-primary">Weiter zu Schritt 2</button>


      <h4>Zweiter Schritt</h4>

      Um dich noch besser kennezulernen, möchten wir noch wissen, welche BH-Größe du normalerweise trägst und wie
      zufrieden du mit dieser Größe und Passform bist. Gib ruhig mehrere Größen an, falls du verschiedene Größen in
      verschiedenen Modellen hast und wie du damit zu Recht kommst.
      <p> Größe auswählen </p>
      <p>passt mir gut</p>
      <p>fühlt sich sehr eng an
      </p>

      <h4>Dritter Schritt </h4>

      Jetzt wissen wir schon einiges über deine Passform und Größe, was ist die bei einem BH am wichtigsten, damit du
      dich wohl fühlst?

      <p>soll nicht drücken und nicht eng sein</p>
      <p>Viel Push-Up, meine Brüste sollen größer aussehen</p>
      <p>soll nicht verrutschen</p>
      <p>soll genügend Halt geben</p>
      <p>Bewegungsfreiheit</p>
      <p>meine Brüste sollen kleiner aussehen</p>
      <p>der Stoff soll auch für sensible Haut geeignet sein</p>
      <p>meine Brüste sollen sehr gleichmäßig aussehen</p>
      <p>der Bh soll sich möglichst leicht anfühlen</p>

      <h4>Vierter Schritt</h4>
      <p>Jetzt kommen wir zum Stil Abschnitt des Quizzes zu Farben, Mustern und Stoffen. Natürlich kannst du deine
        Präferenzen im Nachhinein auch immer ändern.</p>

      <p>Bitte wähle Farben und Farbtöne aus, die dir gefallen:</p>
      <p>schwarz</p>
      <p>weiß</p>
      <p>neutrale Töne(grau/dunkelblau)</p>
      <p>neon-farben</p>
      <p>rosatöne</p>
      <p>rottöne</p>
      <p>grün/türkis/blau/lila</p>

      <p>Muster, die dir gefallen</p>
      <p>gepunktet</p>
      <p>gestreift</p>
      <p>kariert</p>
      <p>florales Muster</p>
      <p>einfarbig</p>
      <p>Design Print</p>
      <p>mit Spitzendesign</p>

      <p>Stoffe, die dir gefallen</p>
      <p>Baumwolle</p>
      <p>stretchy Stoff</p>
      <p>Suchst du eine bestimmte BH-Art, oder möchtest du eine bestimmte BH-Art ausprobieren?</p>
      <p>Bralette</p>
      <p>Balconette</p>
      <p>T-Shirt BH</p>
      <p>Push-Up BH</p>
      <p>Trägerloser BH</p>



  </div>

</div>

</form>
</div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>