<div id="bra">
    <div class="container pt-5 pb-5">
      <form action="/size" method="post">
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <h3>Erster Schritt</h3>
        <div>
          <hr class="mt-4 mb-4" />
          Als Erstes sammeln wir ein paar Zahlen und Daten über dich, um dir eine möglichst genaue Empfehlung bereitstellen zu können. Aber keine Angst, nur du kannst deine Daten sehen und kein anderer User. 
          <h4>So kannst du dich richtig vermessen:</h4>
          <p>Bildanleitung:
            Bild Bild Bild
        </p>
          Alles was du benötigst ist ein Maßband und ein wenig Geduld. Und behalt gerne im Hinterkopf, es sind nur Zahlen!
          <p>
            Unterbrustbreite und Brustumfang in cm
          </p>

          <div style = "float:left; margin:13%;"></div>
          <div class="form-group" style = "float: left;">
            <input type="text" class="" id="unterbrustbreite" name="unterbrustbreite" placeholder="Unterbrustbreite"
              autocomplete="name" maxlength="120" focus-first>
          </div>

          <div class="form-group" style = "float: left; margin-left: 1%;">
            <input class="" id="b_umfang" name="brustumfang" type="text" placeholder="Brustumfang"
              autocomplete="name" maxlength="120" focus-first>
          </div>
        </div>

         
          <div style = "clear: left;"></div>
          <button type="submit" class="btn btn-primary" style = "clear: left">Weiter zu Schritt 2</button>

          <h3>Zweiter Schritt</h3>

          Um dich noch besser kennezulernen, möchten wir noch wissen, welche BH-Größe du normalerweise trägst und wie zufrieden du mit dieser Größe und Passform bist. Gib ruhig mehrere Größen an, falls du verschiedene Größen in verschiedenen Modellen hast und wie du damit zu Recht kommst. 
         <p> Größe auswählen </p>
        <p>passt mir gut</p>
        <p>fühlt sich sehr eng an
        </p>

        Dritter Schritt 

        Jetzt wissen wir schon einiges über deine Passform und Größe, was...



  
        </div>
  
    </div>
  
    </form>
  </div>
  </div>
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>