<body>
  <main>
      <section class="slogan">
          <h2 class="section-title">Find the perfect fit.</h2>
      </section>
      <section class="intro">
          <h2 id = "philosophie" class="section-title"> <span class="text-highlighted"> Unsere Philosophie.</span> </h2>
          <div class="text-body"> Diese Website ist dafür da, dass Du den besten BH für Dich finden kannst. Wir wissen
              wie schwierig es sein kann, den richtigen BH in der richtigen Größe zu finden. Lass uns das ändern!
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          </div>
      </section>
      <section class="quiz">
          <header class="quiz-intro">
              <h2 id = "quiz" class="section-title-small">Zum Größenquiz</h2>
          </header>
          <div class="text-body">
              Unser Größenquiz hilft Dir den perfekt passenden BH zu finden. Natürlich soll er nicht nur gut passen,
              sondern auch stylisch sein. Deswegen kannst du Deine Präferenzen auswählen.

              <div class="buttons">
                  <a id = "start_btn" href="/quiz" class="button button-highlighted">Jetzt Starten</a>
              </div>
          </div>
      </section>
      <section class="social-media">
          <header>
              <h2 class="section-title">Social Media</h2>
          </header>
          <p>Finde uns auf</p>
          <div class="buttons">
              <a href="https://de-de.facebook.com/" class="button button-highlighted">Facebook</a>
              <a href="https://www.instagram.com/sem/campaign/emailsignup/?campaign_id=13560899670&extra_1=s|c|547348927123|e|instagram|&placement=&creative=547348927123&keyword=instagram&partner_id=googlesem&extra_2=campaignid%3D13560899670%26adgroupid%3D126262456694%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-29167132177%26loc_physical_ms%3D9042301%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQiAq7COBhC2ARIsANsPATGBgM6TSL9bX6w4Mk1-ebGYZ6oIcMnkJ1MGrZ84U4wdZQ1ju502mMUaAo_gEALw_wcB" class="button button-highlighted">Instagram</a>
              <a href="https://www.whatsapp.com/?lang=de" class="button button-highlighted">WhatsApp</a>
          </div>

      </section>
      <section>
          <header>
              <h2 class="section-title"> Unser Blog </h2>
          </header>
          <div class="products">
              <div class="product">
                  <div class="product-body">
                      <h2 class="product-title">Stil-Quiz </h2>
                      <a href="#"> <img src="images/Quiz.png" alt="Stil-Quiz" class="product__img"></a>
                      <div class="text-blog">
                          Welcher Look passt im Herbst am Besten zu Dir?
                          Wähle deine liebsten Desserts und Getränke im Herbst aus und bekomme einen
                          personalisierten
                          Stilvorschlag für BHs.
                      </div>
                  </div>
              </div>
              <div class="product">
                  <h2 class="product-title">Lieblingssticker </h2>
                  <a href="#"> <img src="images/ghost.jpg" alt="Sticker Geist" class="product__img"></a>
                  <div class="text-blog">
                      Diese niedlichen Sticker haben uns umgehauen! Lass Deine kreative Seite raus und klebe sie in
                      Deinen Kalender oder benutze sie zum Bullet Journaling.
                  </div>
              </div>
              <div class="product">
                  <h2 class="product-title">Weitere Einträge</h2>
                  <a href="#"> <img src="images/blog.jpg" alt="Zum Blog" class="product__img"></a>
                  <div class="text-blog">
                      <p>Hier kannst Du weiter in unserem Blog stöbern.</p>
                  </div>
              </div>
          </div>
      </section>
  </main>
</body>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
