<body>
    <main>
        <% if (geradeAngemeldet) { %>
            <div class="alert alert-success" style="margin-bottom: 0;" role="alert">
                Hey <%= me.fullName.split(' ')[0] %>, du bist jetzt angemeldet.
      </div>
      <% } %>
      <section class="slogan">
          <h2 class="section-title">Find your perfect fit.</h2>
      </section>
      <section class="intro">
          <h2 id = "philosophie" class="section-title"> <span class="text-highlighted"> Unsere Philosophie.</span> 
          <img src="/images/koreanheart.jpg" style="height: 80px; display: inline-block;"> </h2>
          <div class="text-body"> Diese Website ist dafür da, dass du den besten BH für dich finden kannst. 
            Wir wissen wie schwierig es sein kann, den richtigen BH in der richtigen Größe zu finden. <br>
            Lass uns das ändern.<br>
            Die meisten Webseiten, Marken oder professionelle Beratungen im Laden, beginnen mit einer Messung und dem Kommentar “die Größe, die Sie tragen, ist die Falsche”.<br>
            Das ist unserer Meinung nach Mist. <br>
            In unseren Augen gibt es keine “perfekte” BH-Größe, also ein Richtig und ein Falsch, sondern jede Frau entscheidet am besten selbst, was sie mag und was sie nicht mag;
             was ihr wichtig ist und welcher BH gut passt.
            Bevor wir dir also etwas empfehlen, fragen wir dich im ersten Schritt nach deiner Meinung und was dir persönlich am Herzen liegt.
            <br>
            Klingt das gut? Dann lass uns loslegen!
          </div>
      </section>
      <section class="quiz">
          <header class="quiz-intro">
              <h2 id = "quiz" class="section-title-small">Zum Größenquiz</h2>
          </header>
          <div class="text-body">
              <p class="quiz-text">
                Unser Größenquiz hilft dir den perfekt passenden BH zu finden. Natürlich soll er nicht nur gut passen,
                sondern auch stylisch sein. Deswegen kannst du deine Präferenzen auswählen.
              </p>

              <div class="buttons">
                  <a href="/quiz" class="button button-highlighted mt-3" style = "width: 40%; min-width: 170px; max-width: 310px; margin:auto;">Jetzt Starten</a>
              </div>
          </div>
      </section>
      <section class="social-media" id="sozialmedia">
          <header>
              <h2 class="section-title">Social Media</h2>
          </header>
          <p>Finde uns auf</p>
          <div class="buttons">
              <a href="https://de-de.facebook.com/" class="button button-highlighted">Facebook</a>
              <a href="https://www.instagram.com/sem/campaign/emailsignup/?campaign_id=13560899670&extra_1=s|c|547348927123|e|instagram|&placement=&creative=547348927123&keyword=instagram&partner_id=googlesem&extra_2=campaignid%3D13560899670%26adgroupid%3D126262456694%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-29167132177%26loc_physical_ms%3D9042301%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQiAq7COBhC2ARIsANsPATGBgM6TSL9bX6w4Mk1-ebGYZ6oIcMnkJ1MGrZ84U4wdZQ1ju502mMUaAo_gEALw_wcB" class="button button-highlighted">Instagram</a>
              <a href="https://www.whatsapp.com/?lang=de" class="button button-highlighted">WhatsApp</a>
          </div>

      </section>
      <section>
          <header>
              <h2 class="section-title"> Unser Blog </h2>
          </header>
          <div class="products">
              <div class="product">
                  <div class="product-body">
                      <h2 class="product-title">Stil-Quiz </h2>
                      <a href="#"> <img src="images/Quiz.png" alt="Stil-Quiz" class="product__img"></a>
                      <div class="text-blog">
                          Welcher Look passt am Besten zu dir?
                          Wähle deine liebsten Desserts und Getränke im Frühling aus und bekomme einen
                          personalisierten Stilvorschlag für BHs.
                      </div>
                  </div>
              </div>
              <div class="product">
                  <h2 class="product-title">Lieblingssticker </h2>
                  <a href="#"> <img src="images/ghost.jpg" alt="Sticker Geist" class="product__img"></a>
                  <div class="text-blog">
                      Diese niedlichen Sticker haben uns umgehauen! Lass deine kreative Seite raus und klebe sie in
                      deinen Kalender oder benutze sie zum Bullet Journaling.
                  </div>
              </div>
              <div class="product">
                  <h2 class="product-title">Weitere Einträge</h2>
                  <a href="#"> <img src="images/blog.jpg" alt="Zum Blog" class="product__img"></a>
                  <div class="text-blog">
                      <p>Hier kannst du weiter in unserem Blog stöbern.</p>
                  </div>
              </div>
          </div>
      </section>
  </main>
</body>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>